*{
   margin: 0px 2px;
   padding: 0;
 }
 
 html
 {
   font: 16px normal sans-serif;
   background-color: #f0f0f0;
 }
 
 
 
 .head 
 {
   background-color:#007df1;
   height:120px;
   width: auto;
 }
 
 .Mid
 {
  padding-top: 10px;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  color: white;
 }
 
 #Brief 
 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  text-align: center;
  color: white;
 }

 #id 
 {
   font-style:italic;
 }
 

 
 .first 
 {
   width:600px;
   height:45px ;
   padding: 4px;
   margin-bottom: 30px;
   border: 0px solid pink;
   background-color:lightgray;
  
 }
 
 .skill
 {
   margin-top: 30px;
   margin-bottom: 15px;
   color: #007df1;
   font-size:25pt;
 }
 
 #project 
 {
   color: #007df1;
   font-size: 25pt;
   margin-bottom:15px ;
 }
 
 .border
 {
   border-style: solid;
   width: 99%;
   height: 130px;
   border-width: 0.1vb;
   padding: 10px 5px ;
   color: rgb(82, 75, 75);
 }

 .border h3{
  color: black;
 }

 .border p{
  color: black;
 }

 
 .section
 {
   padding:10px;
   color: #007df1;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
 }

 #yname{
  margin-bottom: 15px;
  height: 40px;
  width: 250px;
 }

 #yemail{
  margin-bottom: 15px;
  height: 40px;
  width: 250px;
 }

 #btn{
  margin-top: 15px;
 }

 .section h2{
  margin-bottom: 20px;
 }
 
 .block {
   display: block;
   width: 26%;
   border: none;
   background-color: #007df1;
   color: #ffff;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   text-align: center;
   height: 40px;
   width: 250px;
   margin-bottom: 50px;
 }